.sidebar-nav {
  background: $aabc-dark-blue;
  height: 100vh;
  padding: 0;
  width: 10%;
  float: left;
  margin-top: -16px;
  ul {
    list-style: none;
    li {
      display: block;
      a {
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: 900;
        color: $aabc-cool-grey;
        vertical-align: middle;
        @include aabc-transition(0.2s all ease-in-out);
        svg {
          fill: $aabc-cool-grey;
          max-width: 30px;
          vertical-align: middle;
          margin-right: 5px;
          @include aabc-transition(0.2s all ease-in-out);
        }
      }
      &:hover {
        > a {
            color: $aabc-gold;
            text-decoration: none;
            svg {
              fill: $aabc-gold;
            }
        }
      }
    }
  }
}
