<nav class="sidebar-nav">
    <ul class="nav-links">
        <li>
          <a routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-signal" aria-hidden="true"></i>Dashboard</a>
        </li>
        <li>

          <a routerLink="/songs" routerLinkActive="active"><i class="fa fa-music" aria-hidden="true"></i>Music Library</a>
        </li>
        <li>
            <a routerLink="/solo-songs" routerLinkActive="active"><i class="fa fa-microphone" aria-hidden="true"></i>Solo Songs</a>
        </li>
        <li>
            <a routerLink="/white-shirt-songs" routerLinkActive="active"><i class="fa fa-music" aria-hidden="true"></i>White Shirt Songs</a>
        </li>
        <li>
            <a routerLink="/user-settings" routerLinkActive="active"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a>
        </li>
    </ul>

    <ul class="user-details">
        <div class="completion-percentage"><span>Completion</span> {{ userPercentage }}%</div>
        <div class="completion-percentage-bar"><div class="completion" [ngStyle]="{'width': userPercentage+'%'}"></div></div>
        <div class="songs-remaining"><span>Songs Remaining</span> {{ userSongsRemaining }} / {{totalSongs}}</div>
    </ul>
</nav>
