@import '../../../scss/partials/base';

.sidebar-nav {
  background: #fbfbfb;
  height: 100vh;
  border-right: 1px solid #ddd;
  padding: 0;
  width: 15%;
  float: left;
  margin-top: -16px;
  ul {
    list-style: none;
    li {
      display: block;
      border-bottom: 1px solid lighten($aabc-cool-grey, 50%);
      a {
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        padding: 1.5rem;
        display: block;
        letter-spacing: 2px;
        color: $aabc-cool-grey;
        vertical-align: middle;
        @include aabc-transition(0.2s all ease-in-out);
        svg {
          fill: $aabc-cool-grey;
          max-width: 25px;
          vertical-align: middle;
          margin-right: 10px;
          @include aabc-transition(0.2s all ease-in-out);
        }
        i {
          margin-right: 10px;
          @include aabc-transition(0.2s all ease-in-out);
        }

        &.active {
          background: $aabc-dark-blue;
          color: $aabc-light-grey;
          svg {
            fill: $aabc-light-grey;
          }

          &:hover {
            color: $aabc-light-grey;
            svg {
              fill: $aabc-light-grey;
            }
          }
        }
      }
      &:hover {
        > a {
            color: $aabc-gold;
            text-decoration: none;
            svg {
              fill: $aabc-gold;
            }
        }
      }
    }
  }
}
