<sidebar-nav></sidebar-nav>
<router-outlet></router-outlet>

<section class="checkoff">
    <h1>Checkoff</h1>
    <div class="checkoff-menu-bar">
        <div class="container-full">
            <div class="part-info">
                <div class="part-leader-avatar"><img [src]="partLeaderAvatar" alt="part-leader-profile-pic"></div>
                <div class="part-leader-name">{{ partLeaderName }}</div>
                <div class="part-leader-part">{{ partLeaderPart }}</div>
            </div>
        </div>
    </div>

    <div class="part-members">
        <div class="container-full">
            <div *ngFor="let member of partMembers" class="col-lg-3 col-md-6 col-sm-12">
                <div class="member" (click)="seeMemberSongs(member.uid)">
                    <img [src]="member.profilePicURL" alt="user-avatar">
                    <h4>{{member.firstName}} {{ member.lastName }}</h4>
                    <span class="member-percentage">{{member.percentage}}%</span>
                    <span class="song-completed">{{member.completedSongs}} / {{ member.songs.length }}</span>
                    <span class="start-date">{{member.startDate}}</span>
                </div>
            </div>
        </div>
    </div>
</section>

<checkoff-member [activeMember]="activeMember" [memberDialogActive]="memberDialogActive">