<div class="clearfix">
  <section class="feedback">
    <div class="song-with-feedback" *ngFor="let song of songsWithNotes ">
      <ul class="feedback-list" *ngFor="let feedback of song.notes">
        <li class="feedback-title" (click)="activateNote(feedback)">{{feedback.title}}</li>
      </ul>
      <!-- <div class="feedback-song">{{song.name}}</div> -->
      
    </div>
  </section>
  <user-dashboard-feedback-message *ngIf="activeNote" [activeNote]="activeNote"></user-dashboard-feedback-message> 
</div>
