<nav class="main-nav">
    <a class="nav-branding" href="#">Music Library</a>
    <ul class="nav-links" *ngIf="activeUser">
        <li (click)="logout()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out
        </li>
    </ul>
    <ul class="user-info" style="float: right;">
        <li *ngIf="user"><i class="fa fa-user-circle-o" style="color: white;" aria-hidden="true"></i></li>
        <li *ngIf="user">Hello {{displayName}}!</li>
        <a *ngIf="user" routerLink="/user-settings"><i class="fa fa-cog" style="color: white;" aria-hidden="true"></i></a>
    </ul>
</nav>
