<div class="container">
    <h1>Hello {{currentUserName}}</h1>
    <form action="">
        <input type="text" name="name" [(ngModel)]="newDisplayName">
        <input type="file" id="filebutton" value="upload" #filebtn (change)="filebuttoni($event)">
        <button type="button" (click)="updateDisplayName(newDisplayName)">Update</button>
    </form>
</div>

<div class="container">
  <form action="" class="user-settings">
    <div>
      <label for="currentUserFirstName">First Name</label>
      <input type="text" [(ngModel)]="currentUserFirstName" name="currentUserFirstName">
    </div>
    <div>
      <label for="currentUserLastName">Last Name</label>
      <input type="text" [(ngModel)]="currentUserLastName" name="currentUserLastName">
    </div>
    <div>
      <label for="currentUserStartDate">Start Date</label>
      <input type="text" [(ngModel)]="currentUserStartDate" name="currentUserStartDate">
    </div>
    <div>
      <label for="currentUserPart">Part</label>
      <input type="text" [(ngModel)]="currentUserPart" name="currentUserPart">
    </div>
    <div>
      <button type="button" (click)="saveSettings()">Save Settings</button>
    </div>
  </form>
</div>
