<sidebar-nav></sidebar-nav>
<h1>Checkoff Member</h1>

<ul>
  <li *ngFor="let song of checkoffMemberSongs">
    <div class="song-name">{{ song.name }}</div>
    <div class="add-note"><i class="fa fa-sticky-note" aria-hidden="true" (click)="addNote(song.name)"></i></div>
  </li>
</ul>


<div class="note" [ngClass]="{'active': addNoteActive}">
  <form class="add-note"  method="post">
    <div>
      <label for="note">Title</label>
      <input type="text" name="note" value="" [(ngModel)]="noteTitle">
    </div>
    <div>
      <label for="name">Comment</label>
      <textarea name="name" rows="8" cols="80" [(ngModel)]="noteContent"></textarea>
    </div>
    <div>
      <button type="submit" name="button" (click)="submitNote()">Submit Note</button>
    </div>
  </form>
</div>
