@import '../../scss/partials/base';

.current-user-name {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  color: #aaa;
  font-weight: 900;
}

.current-user-part {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 900;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #ccc;
}

section.dashboard {
  width: 90%;
  float: right;
  margin-top: -18px;
  // padding: 2rem 0 0 2rem;
  .dashboard-member-info {
    background: lighten($aabc-light-grey, 10%);
    padding: 7rem;
    overflow: hidden;
    .member-name-and-photo {
      width: 30%;
      float: left;
      h2.current-user-name {
        font-size: 1.3rem;
        color: $aabc-cool-grey;
        font-weight: 900;
        font-family: 'PT Sans Narrow', sans-serif;
      }
      img {
        float: left;
        margin-right: 15px;
        max-width: 150px;
        border-radius: 50%;
      }
    }
    .member-songs-completed {
      width: 20%;
      float: left;
    }
    .member-songs-percentage {
      width: 20%;
      float: left;
    }
  }

  h5 {
    color: $aabc-light-grey;
    font-size: 1.6rem;
    font-family: 'Crimson Text', serif;
    font-weight: 900;
  }
}

.dashboard-member-part-info {
  ul {
    li {
      img {
        border-radius: 50%;
        max-width: 50px;
      }
    }
  }
}

.part-container {
  width: 50%;
  float: left;
}
