@import '../../scss/partials/base';

.current-user-name {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  color: #aaa;
  font-weight: 900;
  margin-bottom: 0;
}

.current-user-part {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #ccc;
}

section.dashboard {
  width: 85%;
  float: right;

  .dashboard-member-info {
    background: #fbfbfb;
    border-bottom: 1px solid #ddd;
    padding: 3rem;
    overflow: hidden;
    margin-top: 2px;
    .member-name-and-photo {
      width: 35%;
      float: left;
      h2.current-user-name {
        font-size: 2rem;
        font-weight: 900;
        color: #373a3c;
      }
      img {
        float: left;
        margin-right: 30px;
        max-width: 125px;
        border-radius: 50%;
      }
    }
    .member-songs-completed {
      width: 20%;
      float: left;
      p {
        font-size: 2rem;
        font-weight: 900;
      }
    }
    .member-songs-percentage {
      width: 20%;
      float: left;
      p {
        font-size: 2rem;
        font-weight: 900;
      }
    }

    .member-last-completed-song {
      p {
        font-size: 2rem;
        font-weight: 900;
      }
    }
  }

  h5 {
    color: darken($aabc-light-grey, 8%);
    font-size: 0.9rem;
    font-family: $aabc-pt-sans-narrow;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    padding-top: 1.3rem;
  }
}

$base-line-height: 24px;
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dashboard-member-part-info {
  .part-container {
    width: calc(50% - 10px);
    display: inline-block;
    padding: 1rem 2rem;
    .part-loading {
        border-radius: 50%;
        width: $base-line-height;
        height: $base-line-height;
        border: .25rem solid $aabc-light-grey;
        border-top-color: $aabc-cold-grey;
        animation: spin $spin-duration infinite linear;
      &--double {
        border-style: double;
        border-width: .5rem;
      }
    }
    h3 {
      font-size: 0.9rem;
      color: $aabc-cold-grey;
      font-family: $aabc-pt-sans-narrow;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 0.25rem;
      background: lighten($aabc-light-grey, 10%);
      padding: 0.5rem;
    }

    table {
      tr {
        th {
          border-top: none;
          font-family: $aabc-pt-sans-narrow;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 0.95rem;
          letter-spacing: 1px;
        }
        td {
          img {
            border-radius: 50%;
            max-width: 40px;
            margin-right: 15px;
          }
        }
      }
    }
  }

}
