<sidebar-nav></sidebar-nav>
<section class="dashboard">
  <user-dashboard-header></user-dashboard-header>
  <user-dashboard-menu></user-dashboard-menu>
  <router-outlet></router-outlet>
  <div class="dashboard-member-part-info">
    <div class="part-container">
      <div class="part-container-header clearfix">
        <h3 class="pull-left">Basses</h3>
        <h5 class="pull-right"*ngIf="bassAvgPercentage">{{bassAvgPercentage}}%</h5>
      </div>
      <table class="table" *ngIf="bassPart">
        <tr>
          <th>Name</th>
          <th>Percentage</th>
        </tr>
        <tr *ngFor="let bassMember of bassPart">
          <td><img *ngIf="bassMember.profilePicURL" src="{{bassMember.profilePicURL}}" alt="">{{bassMember.firstName}} {{bassMember.lastName}}</td>
          <td *ngIf="bassMember.percentage > 0">{{bassMember.percentage}}%</td>
          <td *ngIf="bassMember.percentage == 0">0%</td>
        </tr>
      </table>
    </div>

    <div class="part-container">
      <div class="part-container-header clearfix">
        <h3 class="pull-left">First Tenor</h3>
        <h5 class="pull-right" *ngIf="firstTenorAvgPercentage">{{firstTenorAvgPercentage}}%</h5>
      </div>
      <div class="part-loading" *ngIf="!firstTenorPart"></div>
      <table class="table" *ngIf="firstTenorPart">
        <tr>
          <th>Name</th>
          <th>Percentage</th>
        </tr>
        <tr *ngFor="let firstTenorMember of firstTenorPart">
          <td><img *ngIf="firstTenorMember.profilePicURL" src="{{firstTenorMember.profilePicURL}}" alt="">{{firstTenorMember.firstName}} {{firstTenorMember.lastName}}</td>
          <td *ngIf="firstTenorMember.percentage > 0">{{firstTenorMember.percentage}}%</td>
          <td *ngIf="firstTenorMember.percentage == 0">0%</td>
        </tr>
      </table>
    </div>

    <div class="part-container">
      <div class="part-container-header clearfix">
        <h3 class="pull-left">Second Tenor</h3>
        <h5 class="pull-right" *ngIf="secondTenorAvgPercentage">{{secondTenorAvgPercentage}}%</h5>
      </div>
      <div class="part-loading" *ngIf="!secondTenorPart"></div>
      <table class="table" *ngIf="secondTenorPart">
        <tr>
          <th>Name</th>
          <th>Percentage</th>
        </tr>
        <tr *ngFor="let secondTenorMember of secondTenorPart">
          <td><img *ngIf="secondTenorMember.profilePicURL" src="{{secondTenorMember.profilePicURL}}" alt="">{{secondTenorMember.firstName}} {{secondTenorMember.lastName}}</td>
          <td *ngIf="secondTenorMember.percentage > 0">{{secondTenorMember.percentage}}%</td>
          <td *ngIf="secondTenorMember.percentage == 0">0%</td>
        </tr>
      </table>
    </div>

    <div class="part-container">
      <div class="part-container-header clearfix">
        <h3 class="pull-left">Baritone</h3>
        <h5 class="pull-right" *ngIf="baritoneAvgPercentage">{{baritoneAvgPercentage}}%</h5>
      </div>
      <div class="part-loading" *ngIf="!baritonePart"></div>
      <table class="table" *ngIf="baritonePart">
        <tr>
          <th>Name</th>
          <th>Percentage</th>
        </tr>
        <tr *ngFor="let baritoneMember of baritonePart">
          <td><img *ngIf="baritoneMember.profilePicURL" src="{{baritoneMember.profilePicURL}}" alt="">{{baritoneMember.firstName}} {{baritoneMember.lastName}}</td>
          <td *ngIf="baritoneMember.percentage">{{baritoneMember.percentage}}%</td>
          <td *ngIf="baritoneMember.percentage == 0">0%</td>
        </tr>
      </table>
    </div>
  </div>

  <tbody *ngFor="let song of activeUserSongs" [ngClass]="{'completed': song.completed}">
    <tr (click)="openSongDetails(song.name)">
      <td>{{song.name}}</td>
      <td>{{song.difficulty}}</td>
      <td>{{song.time}}</td>
    </tr>
  </tbody>
</section>
